<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d15079f5-1527-48ef-84d4-912c03541df1/resourceGroups/computer_repair/providers/Microsoft.Web/sites/Group2CompRepair20220415160004</ResourceId>
    <ResourceGroup>computer_repair</ResourceGroup>
    <ApiResourceId>/subscriptions/d15079f5-1527-48ef-84d4-912c03541df1/resourceGroups/computer_repair/providers/Microsoft.ApiManagement/service/ComputerRepairapi/apis/Group2CompRepair</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://group2comprepair20220415160004.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1bb68e1b-8381-440a-a868-d5768d584278</ProjectGuid>
    <MSDeployServiceURL>group2comprepair20220415160004.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Group2CompRepair20220415160004</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Group2CompRepair20220415160004</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>